:root {
  font-family: 'My-front';
  line-height: 1.5;
  /* font-weight: 400; */
}
@font-face{
  font-family: 'My-front';
  src: url('./assets/Athiti/Athiti-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'KraNok';
  src: url('./assets/KraNok/SOV_JD_KraNok.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'SacramentoRegular';
  src: url('./assets/sacramento-2/SacramentoRegular-X3LaG.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* white-space: nowrap; */
}
